.container {
    align-items: center;
    
}

.roundImage {
    border-radius: 50%;
    width: 300px;
    height: auto;
    margin-right: 90px;
}

.aboutMeContainer {
    align-items: center;
}
.aboutMeChild {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.githubIcon {
    padding-right: 70px;
    margin: 0;
    font-size: 90px;
}

.linkedinIcon {
    margin: 0;
    font-size: 90px;
}